<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link type="text/css" href="css/global.css" media="all" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="RSS feed" type="application/atom+xml" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
  </head>

  <body>
    
    <header>
      <h1>transactional:email:<span id="last">copy</span></h1>
    </header>

    <section id="about">
      <h2>Transactional Email Copy collects <em>nice transactional emails</em> to help product managers, designers and marketing gurus find the best copy for their own emails.</h2>
    </section> <!-- #about -->

    <section id="main">

      {{ content }}

    </section> <!-- #main -->

    <footer>
      <p>Do you want to contribute? Head over the <a href="https://github.com/djaiss/transactional-email-copy">Github repository</a> to read more about it.</p>
      <p>Created by <a href="http://djaiss.github.com">Regis Freyd</a> in 2012-ish. I have not asked for permission to display all those emails. If your brand is offended and wants me to remove an entry on this website, shoot me an email and I'll delete the entry in the next day. That'd be too bad though, as the site lists great copy and actually reflects the quality of your brand.</p>      
    </footer>

    {% include statistics.html %}

  </body>
</html>
